{% extends "user/paperadmin/master/base.html" %}
{% load static %}
{% load i18n %}


{% block customstyle %}
    <style>
        .panel .panel-heading .nav-tabs {
            float: left;
        }
        .table thead th  {
            text-align: left;
            font-size: 12px;
        }
        .table tbody td {
            text-align: left;
            font-size: 12px;
        }

        .px {
            padding-right: 100px;
        }

        .scrollable {
            height: 100%;
        }

        .row-hover:hover {
            background-color: #e1e1e1 !important;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-body">
            {% include 'pagination.html' %}
{#          {% include 'categorysearch.html' %}#}
            {% include 'customsearch.html' %}
            {% include 'statesearch.html' %}
            {% include 'yearsearch.html' %}
            {% include 'rating.html' %}
            {% include 'service.html' %}
            {% include 'categorysearch.html' %}
            <div class="panel panel-primary">
    <div class="panel-body" style="overflow-x: scroll;">
        <div class="row">
            <div class="col-md-12">
                <table class="striped responsive-table table table-striped table-bordered table-bshipmented custom-datatable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>State/City</th>
                        <th>LGA</th>
                        <th>Website</th>
                        <th>Company Size</th>
                        <th>Established year/registered date</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Category</th>
                        <th>Service</th>
                        <th>Working Hours</th>
                        <th>Rating Score</th>
                        <th>Verified Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.phone }}</td>
                            <td>{{ item.stateCity }}</td>
                            <td>{{ item.lga }}</td>
                            <td>{{ item.website }}</td>
                            <td>{{ item.companySize }}</td>
                            <td>{{ item.ey }}</td>
                            <td>{{ item.lat }}</td>
                            <td>{{ item.long }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.service }}</td>
                            <td>{{ item.workingHours }}</td>
                            <td>{{ item.ratingScore }}</td>
                            <td>{{ item.verifiedStatus }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
        {% include 'pagination.html' %}
        </div>
    </div>
{% endblock %}