<div class="panel panel-primary">
    {% if show_sub_menu == "true" %}
        <div class="panel-heading" style="display: inline-block;">
            <h2>{% include "reports/includes/top_nav.html" with tab="rto" %}</h2>
        </div>
    {% endif %}
    <div class="panel-body" style="overflow-x: scroll;">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-bshipmented custom-datatable">
                    <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Purchased On</th>
                        <th>Shipment #</th>
                        <th>Shipped to</th>
                        <th>Courier</th>
                        <th>AWB</th>
                        <th>Payment Type</th>
                        <th>Invoice value</th>
                        <th>Product(s) name</th>
                        <th>SKU</th>
                        <th>Barcode</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shipment in shipments %}
                        <tr>
                            <td>{{ shipment.order_code }}</td>
                            <td>{{ shipment.order_placed_at|date:"M d,Y H:m" }}</td>
                            <td>{{ shipment.code }}</td>
                            <td>{{ shipment.customer_first_name }} {{ shipment.customer_last_name }}</td>
                            <td>{{ shipment.shipper_name }}</td>
                            <td>{{ shipment.awb }}</td>
                            <td>{% if shipment.is_prepaid %}
                                Prepaid{% else %}
                                COD{% endif %}</td>
                            <td>{{ shipment.payable_amount }}</td>
                            <td>
                                <table>
                                    {% for item in shipment.items %}
                                        <tbody>
                                        <tr>
                                            <td>
                                                {{ item.name }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </td>
                            <td>
                                <table>
                                    {% for item in shipment.items %}
                                        <tbody>
                                        <tr>
                                            <td>
                                                {{ item.sku }}
                                            </td>
                                        </tr>

                                        </tbody>
                                    {% endfor %}
                                </table>
                            </td>
                            <td>
                                <table>
                                    {% for item in shipment.items %}
                                        <tbody>
                                        <tr>
                                            <td>
                                                {{ item.serial_code }}
                                            </td>
                                        </tr>

                                        </tbody>
                                    {% endfor %}
                                </table>
                            </td>
                            <td>{% if shipment.status_description %}
                                {{ shipment.status_description }}
                            {% else %}
                                Complete
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>