<ul class="nav nav-tabs" style="display: inline-block;">
    <li {% if tab == "picking_single_item_orders" %}class="active"{% endif %}>
        <a style="font-weight: 800" href="{% url 'pick_list:picking_single_item_orders' %}">Pick</a></li>
    <li {% if tab == "process_orders" %}class="active"{% endif %}><a
            href="{% url 'invoice:process_single_orders' %}">Process</a></li>
    <li {% if tab == "pack_single_item_orders" %}class="active"{% endif %}><a
            href="{% url 'shipment:pack_single_item_orders' %}">Pack</a></li>
    <li {% if tab == "shipment_orders" %}class="active"{% endif %}><a
            href='{% url 'shipment:shipment_orders' %}'>Ship & Manifest</a>
    </li>
    <li {% if tab == "completed" %}class="active"{% endif %}><a
            href='{% url 'reports:completed_shipments' %}'>Completed</a>
    </li>
    <li {% if tab == "in_transit" %}class="active"{% endif %}><a
            href='{% url 'reports:intransit_shipments' %}'>In Transit</a>
    </li>
    <li {% if tab == "delivered" %}class="active"{% endif %}><a
            href='{% url 'reports:delivered_shipments' %}'>Delivered</a>
    </li>
    <li {% if tab == "returns" %}class="active"{% endif %}><a
            href='{% url 'rto:all_shipments' %}'>Returns</a></li>
    <li {% if tab == "canceled" %}class="active"{% endif %}><a
            href='{% url 'reports:canceled_items' %}'>Cancelled</a></li>
</ul>