{% load static %}

<html lang="en">
<head>
    {% include "user/paperadmin/master/head.html" %}
    {% block customstyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    <style type="text/css">
        .pointer {
            cursor: pointer;
        }

        .panel .panel-heading .nav-tabs {
            float: left;
        }

        .table thead th {
            text-align: left;
            font-size: 12px;
        }

        .table tbody td {
            font-size: 12px;
            text-align: left;
            vertical-align: middle;
        }
        .nav-wrapper{
            background-color: #022F40;
        }
        .nav-content{
            margin-left: 20px;
            margin-right: 20px;
        }
    </style>
</head>

<body class="animated-content infobar-overlay">
 <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
          <div class="nav-content">
          <img src="http://mplify.ng/images/mplify.jpeg" height="55px" width="150px" alt="" class="brand-logo pool-blue-logo">
{#        <a href="#!" class="brand-logo">Logo</a>#}
        <ul class="right hide-on-med-and-down">
          <li><a href="campaign.html">Campaign</a></li>
        </ul>
              </div>
      </div>
    </nav>
  </div>


<div id="wrapper">
    <div id="layout-static">
{#        <div id="loading" style="display: none">#}
{#            <div class="svg-icon-loader">#}
{#                <img src="{% static "assets/components/helpers/loaders/hourglass.svg" %}"#}
{#                     width="60" alt="">#}
{#            </div>#}
{#        </div>#}
        {#    <div id="loader"></div>#}
{#        {% block sidebar %}#}
{#        {% endblock %}#}

        <div class="static-content-wrapper">

            <!-- MAIN CONTENT START-->
            <div class="static-content">
                <div class="page-content">
{#                    <ol class="breadcrumb">#}
{#                        {% block breadcrumb %}{% endblock %}#}
{#                    </ol>#}
{#                    <div class="page-heading">#}
{#                        <!-- <h1>Dashboard<small>Project Statistics</small></h1>#}
{#                        <div class="options">#}
{#                             <div class="btn-toolbar">#}
{#                                 <form action="" class="form-horizontal row-border" style="display: inline-block;">#}
{#                                     <div class="form-group hidden-xs">#}
{#                                         <div class="col-sm-8">#}
{#                                             <button class="btn btn-default" id="daterangepicker-d">#}
{#                                                 <i class="fa fa-calendar"></i>#}
{#                                                 <span><?php echo date("F j, Y", strtotime('-30 day')); ?> - <?php echo date("F j, Y"); ?></span> <b class="caret"></b>#}
{#                                             </button>#}
{#                                         </div>#}
{#                                     </div>#}
{#                                 </form>#}
{#                                 <a href="#" class="btn btn-default" style="vertical-align: top;">Settings</a>#}
{#                             </div>#}
{#                         </div> -->#}
{#                        {% block heading %}{% endblock %}#}
{#                    </div>#}
                    <div class="container-fluid">
                        {% block content %}{% endblock %}
                    </div>
                    <!-- .container-fluid -->

                </div>

                <!-- #page-content -->
            </div>
            <!-- MAIN CONTENT END-->

            <footer role="contentinfo">
                <div class="clearfix">
                    <ul class="list-unstyled list-inline pull-left">
                        <li><h6 style="margin: 0;">&copy; {% now "Y" %} Mplify
                            Pvt. Ltd.</h6></li>
                    </ul>
                </div>
            </footer>

        </div>
    </div>
</div>

{# include "user/paperadmin/master/scrollmenu.html" #}
{# include "user/paperadmin/master/switcher.html" #}

{% include "user/paperadmin/master/scripts.html" %}
{% block extrascript %}
{% endblock %}
</body>
</html>
