
{% block customstyle %}
    <style>
        .pagination{
            margin-top: 20px;
            font-size: 16px;
        }
        .paginationbar{
            padding: 3px 10px;
        }
    </style>
{% endblock %}
{% if items.has_other_pages %}
    <ul class="pagination">
        {% if items.has_previous %}
            <li><a href="?page={{ items.previous_page_number }}{% if request.GET.limit %}&limit={{ request.GET.limit }}{% endif %}">&laquo;</a>
            </li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in range %}
            {% if items.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}{% if request.GET.limit %}&limit={{ request.GET.limit }}{% endif %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if items.has_next %}
            <li><a href="?page={{ items.next_page_number }}{% if request.GET.limit %}&limit={{ request.GET.limit }}{% endif %}">&raquo;</a>
            </li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}

{% endif %}
<ul class="pagination paginationnum">
    <li>
            <select onchange="setGetParameter('limit', this.options[this.selectedIndex].value)" name="limit"
                    class="pagination pull-right" style="
                padding: 5px 10px;
                background: #fff;
                border: 1px solid #eeeeee;
                color: #03a9f4;
                float: left;
                margin: 0 0 0 25px;
            ">
                <option {% if request.GET.limit == "10" %} selected {% endif %} value="10">10</option>
                <option {% if request.GET.limit == "25" %} selected {% endif %} value="25">25</option>
                <option {% if request.GET.limit == "50" %} selected {% endif %} value="50">50</option>
                <option {% if request.GET.limit == "100" %} selected {% endif %} value="100">100</option>
            </select>
        </li>
</ul>
{% block extrascript %}
    <script>
        function setGetParameter(paramName, paramValue) {
            var url = window.location.href;
            var hash = location.hash;
            url = url.replace(hash, '');
            if (url.indexOf(paramName + "=") >= 0) {
                var prefix = url.substring(0, url.indexOf(paramName));
                var suffix = url.substring(url.indexOf(paramName));
                suffix = suffix.substring(suffix.indexOf("=") + 1);
                suffix = (suffix.indexOf("&") >= 0) ? suffix.substring(suffix.indexOf("&")) : "";
                url = prefix + paramName + "=" + paramValue + suffix;
            }
            else {
                if (url.indexOf("?") < 0)
                    url += "?" + paramName + "=" + paramValue;
                else
                    url += "&" + paramName + "=" + paramValue;
            }
            window.location.href = url + hash;
        }

        $('#searchInput').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                var toSearch = document.getElementById('searchInput').value.toLowerCase();
                setGetParameter('q', toSearch);
            }
        });
    </script>
{% endblock %}