
{% block custom %}
    <style>
        #category-search{
            margin-top: 20px;
            font-size: 16px;
            margin-right: 15px;
        }
    i.left{
        margin-right: 0px;
    }
    .customFilter{

    }
    .customFilter:hover{
        
        text-decoration-line: underline;
    }
    </style>
{% endblock %}

<div class="row pull-right">
    <div class="col-md-20" id="category-search">
        <div class="form-group is-empty">
            <a class="waves-effect waves-light customFilter"><i class="material-icons customIcons left">expand_more</i>State/City</a>
        </div>
    </div>
</div>